/*blue #16A8F5*/
html, body, section{
	height: 100%;
}

body{
	margin: 0;
	font-family: Helvetica, sans-serif;
}

header{
	background: #333;
	padding: 1px 0; /*закрывает margin в ul*/
	position: fixed;
	top:0;
	left:0;
	z-index: 99;
	width: 100%;
}

nav{
	width: 70%;
	margin: 0 auto;
}

header > nav > ul{
	list-style: none;
}

header > nav > ul a{
	padding: 10px;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}

header > nav > ul a:hover{
	background: #1185C2;
}

#about{
	position: relative;
	height: 100%;
	background: url(images/tree.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#about > div:last-child{
	position: absolute;
	width: 100%;
	bottom: 0;
}

#resume{
	background: #1185C2;
}

.vertical-center{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}